@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine
@using BestRestaurants.Models

@if (@Model.Restaurants.Count == 0)
{
  <h3>No restaurants match this cuisine type.</h3>
} 
else
{
  <h3>All @Html.DisplayFor(model => model.Type) Restaurants:</h3>
  
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <div class="restaurants">
      @Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })
      </div>
    }
  
}
<br />
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId }, new { @class = "btn btn-dark" })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId }, new { @class = "btn btn-danger" })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>