@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;

<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
  <h3>No cuisines have been added.</h3>
} 

@* <ul>
  @foreach(Cuisine cuisine in Model)
  {
    <li>@Html.ActionLink($"{cuisine.Type}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul> *@

<table>
  <thead>
    <tr>
      <th>Cuisine Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Cuisine cuisine in Model)
    {
      <tr>
        <td>@cuisine.Type</td>
        <td>@Html.ActionLink("Details", "Details", new { id = cuisine.CuisineId })</td>
      </tr>
    }
  </tbody>
</table>

<div class="cuisines">
  @Html.ActionLink("Add new cuisine", "Create")
</div>

<div class="restaurants">
  @Html.ActionLink("Add new restaurant", "Create", "Restaurants")
</div>