@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @required = "required" })
  <br />
  @Html.TextBoxFor(model => model.Rating, new { placeholder = "Rating" })
  @* @Html.CheckBoxFor(model => model.IsMichelin) *@
  <br />
  @Html.DropDownList("CuisineId")
  <br />
  <br />
  <input type="submit" value="Add" class="btn btn-success" />
}
<br />
<p>@Html.ActionLink("Show all restaurants", "Index")</p>