@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<div class="form-container">
  <h1>Add a new restaurant</h1>

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @required = "required" })
    <br />
    @Html.TextBoxFor(model => model.Rating, new { placeholder = "★ Rating" })
    @* @Html.CheckBoxFor(model => model.IsMichelin) *@
    <br />
    @Html.DropDownList("CuisineId")
    <br />
    <br />
    <input type="submit" value="Add" class="btn btn-primary" />
  }
</div>
<br />
<p>@Html.ActionLink("Show all restaurants", "Index")</p>